$black: #000000;
$offBlack: #101010;
$grey: #8b8b8b;
$gold: #bea67c;

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 450px;
